<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content notification">
          <button class="delete is-medium"></button>
          <h2>Your Job Diary</h2>
          <div class="box">
            <!-- <h4>Today</h4> -->
            <h5 class="notification">
              <span class="tag is-light is-medium">
                Daily - You have submitted <%= current_user_daily_job_listing_applied_num %>
                job application(s),
                <% if current_user_weekly_job_listing_applied_num.to_i >= 5 %>
                You have met your daily goal of <span class="tag is-success is-medium"> 5 </span> job applications.
                <% else %>
                <span class="tag is-danger is-medium"> <%= remain_daily_goals%> </span> more jobs to meet your daily goal
                <% end %>
              </span>
            </h5>
            <!-- <h4>This Week</h4> -->
            <h5 class="notification">
              <span class="tag is-light is-medium">
                Weekly - You have submitted <%= current_user_weekly_job_listing_applied_num %>
                job application(s),
                <% if current_user_weekly_job_listing_applied_num.to_i >= 35 %>
                You have met your weekly goal of <span class="tag is-success is-medium"> 35 </span> job applications.
                <% else %>
                <span class="tag is-danger is-medium"> <%= remain_weekly_goals %> </span> more jobs to meet your weekly goal.
                <% end %>
              </span>
            </h5>
            <h5 class="notification">
              <span class="tag is-light is-medium">
                Pending Applications - You have <span class="tag is-warning is-medium"> <%= current_user_pending_applications_num %> </span>job listing(s) that you have not applied for yet.
              </span>
            </h5>
            <small>Last Application Submitted on 11:09 PM - 6 April 2017</small>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-primary is-bold">
  <div class="hero-body">


    <div class="container">

      <h1 class="title add-listing-btn">
        Add new listing <i class="fa fa-plus add-plus " aria-hidden="true"></i>
      </h1>

      <div class="create-listing-wrap">
        <script id="create-listing-template" type="text/x-handlebars-template">
        <form id="create-listing-form">
        <div class="column if-half">
          <div class="field">
            <label class="label">Position</label>
            <p class="control">
              <input class="input create-listing-position" type="text" placeholder="e.g Junior Front End Developer" >
            </p>
          </div>
          <div class="field">
            <label class="label">Company</label>
            <p class="control">
              <input class="input create-listing-company" type="text" placeholder="e.g Evil Corp" >
            </p>
          </div>
          <div class="field">
            <label class="label">Contact</label>
            <p class="control">
              <input class="input create-listing-contact" type="text" placeholder="e.g Tyrell Wellick" >
            </p>
          </div>
          <div class="field">
            <label class="label">URL</label>
            <p class="control">
              <input class="input create-listing-url" type="text" placeholder="e.g evilcorp.com.au" >
            </p>
          </div>
          <div class="field">
            <label class="label">NOTES</label>
            <p class="control">
              <input class="input create-listing-notes" type="text" placeholder="e.g Horrible work environment. Great Pay" >
            </p>
          </div>
          <div class="field has-addons">
            <p class="control is-expanded">
              <label class="label">Current Status</label>
              <span class="select is-fullwidth">
                <select name="create-listing-status" class="create-listing-status">
                  <option value="just-added">Just Added</option>
                  <option value="writing-application">Writing Application</option>
                  <option value="application-submitted">Application Submitted</option>
                  <option value="interview-codetest">Interview / Code Test</option>
                  <option value="rejected">Rejected</option>
                </select>
              </span>
            </p>
          </div>

            <div class="field">
              <p class="control">
                <a id="add-listing" class="button is-success">Add new</a>
              </p>
            </div>

          </div>
        </form>
      </script>
      </div>
    </div>
  </div>
</section>


<!-- attatch template to this -->
<section class="section dashboard">
  <div class="container">
    <!-- This is the header row -->
    <div class="columns job-listing">
      <div class="column is-1">Date Added</div>
      <div class="column is-2">Position</div>
      <div class="column is-2">Company</div>
      <div class="column is-2">Contact</div>
      <div class="column is-2">Url</div>
      <div class="column is-2">Notes</div>
      <div class="column is-1 notification is-success">Status</div>
    </div>

    <div class="job-listings">
      <!-- attach template to .job-listings -->
    </div>
  </div>
</section>

<section class="section edit-form-wrap">
  <a class="delete is-large "></a>
</section>

<!-- Template to edit particular listing  -->
<script id="edit-listing-template" type="text/x-handlebars-template">
  <form class="" action="index.html" method="post">
    <div class="columns">
      <div class="field column">
        <label class="label">Position</label>
        <p class="control">
          <input class="input listing-position" type="text" placeholder="">
        </p>
      </div>
      <div class="field column">
        <label class="label">Company</label>
        <p class="control">
          <input class="input listing-company" type="text" placeholder="">
        </p>
      </div>
      <div class="field column">
        <label class="label">Contact</label>
        <p class="control">
          <input class="input listing-contact" type="text" placeholder="">
        </p>
      </div>
      <div class="field column">
        <label class="label">URL</label>
        <p class="control">
          <input class="input listing-url" type="text" placeholder="">
        </p>
      </div>
      <div class="field column is-2">
        <label class="label">NOTES</label>
        <p class="control">
          <input class="input listing-notes" type="text" placeholder="">
        </p>
      </div>
      <div class="field column">
        <label class="label">Status</label>
        <p class="control">
          <span class="select">
            <select name="listing-status" class="listing-status">
              <option value="Just Added">Just Added</option>
              <option value="Writing Application">Writing Application</option>
              <option value="Application Submitted">Application Submitted</option>
              <option value="Interview / Code Test">Interview / Code Test</option>
              <option value="Rejected">Rejected</option>
            </select>
          </span>
        </p>
      </div>

      <div class="field column is-1">
        <p class="control action-button">
          <a id="delete-listing" class="button is-danger">DELETE</a>
        </p>
          <span class="line"></span>
        <p class="control">
          <a id="edit-listing" class="button is-success">Update</a>
        </p>
      </div>
    </div>
  </form>

  </div> <!-- end Edit Form Template -->
</script>



<!-- Template to show each listing  -->
<script id="job-listing-template" type="text/x-handlebars-template">
  <div class="columns job-listing" data-id="{{ id }}">
    <div class="column is-1">{{ created_at }}</div>
    <div class="column is-2">{{ position }}</div>
    <div class="column is-2">{{ company }}</div>
    <div class="column is-2">{{ contact}}</div>
    <div class="column is-2">{{ url }}</div>
    <div class="column is-2">{{ notes }}</div>
    <div class="column notification is-1 is-success">{{ status }}</div>
  </div>
</script>

<!-- <script id="edit-listing-template" type="text/x-handlebars-template">
  <div class="field">
    <label class="label">Name</label>
    <p class="control">
      <input class="input" type="text" placeholder="Text input">
    </p>
  </div>
</script> -->

<script type="text/javascript">
  $(".delete").on( "click", function(event) {
  $(event.target).closest(".notification").fadeOut( "slow" );
  });
</script>
